*{
    padding: 0;
    margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    
}

.item1{
    background-color: gainsboro;
    width: 25%;
    height: 900px;
    flex: 6 5 auto;
    justify-content: center;
    }

    .item2{
        background-color: red;
        width: 50%;
        height: 900px;
        flex-basis: 500px;
        flex: 6 5 auto;
        }

        /*ul{
            list-style: none;
            background-color: gainsboro;
            flex: 6 5 auto;
            text-align: center;
            
            width: 25%;
        }

        ul li a{
            text-decoration: none;
           
            color: rgb(228, 228, 228);
            
            
        }

        ul li{
            margin: 0px 0;
            border-bottom: 3px gainsboro solid;
background-color:rgba(19, 29, 18, 0.608) ;
padding: 10px ;



        }

        ul li:hover{
            background-color: rgba(43, 43, 48, 0.341);
            
        }*/


button{
    background-color: lightcyan;
    padding: 10px;
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 12.5px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(224, 255, 255, 0.696);
  }

        .bc{
            
            background-color: blue;
            width: 50px;
            height: 50px;
            margin:auto;
            animation: bc 2.5s ease-in-out infinite;
            border-radius: 5px;
        }


        @keyframes bc{

from{transform: translate(50%,0%);}
to{transform: translate(50%,1700%);}


}



.gc{
    background-color: greenyellow;
    width: 50px;
    height: 50px;
    margin-top: -50px;
    animation: gc 1.5s ease-in-out infinite;
    transition: 0.3s;
    border-radius: 5px;
}

@keyframes gc{

    from{transform: translate(50%);}
    to{transform: translate(50%,1700%);}
}


.bc:hover{
    
    animation-play-state: paused;
    background-color: #003;
}



.gc:hover{
    animation-play-state: paused;
    background-color: #003;
}


@media screen and (min-width:200px) and (max-width:450px) {

.bc{
    background-color: blue;
    width: 30px;
    height: 30px;
    margin:auto;
    animation: bc 2.5s ease-in-out infinite;
    border-radius: 5px;
}

@keyframes bc{

    from{transform: translate(50%,0%);}
    to{transform: translate(50%,2900%);}
    
    
    }

.gc{
    background-color: greenyellow;
    width: 30px;
    height: 30px;
    margin-top: -50px;
    animation: gc 1.5s ease-in-out infinite;
    transition: 0.3s;
    border-radius: 5px;
}

@keyframes gc{

    from{transform: translate(50%);}
    to{transform: translate(50%,2950%);}
} 

}